
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');
/* main css body */

body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

ul {
  margin: 0;
}

.bg-steel {
  background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 25px;
  width: 25px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.img-resize {
  max-width:50%;
  max-height:50%;
}

.account-heading {
  font-size: 2.5rem;
}
/* ------------------- */


.center {
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
}


html, body {
  height: 100%;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  color: #222;
}

.navbar {
  /* make smaller navbar look */
  padding: .8rem;
}

.navbar li {
  padding-right: 20px;
}

.nav-link {
  font-size: 1.1em !important;
}

.carousel-inner img {
  width: 100%;
  height: 100%;
}

.carousel-caption {
  position: absolute;
  top: 50%;
  transform: translateY(-30%);
}

.btn-primary {
  background-color: #6649b1;
  border: 1px solid #563d7c;
}

.btn-primary:hover {
  background-color: #563d7c;
  border: 1px solid #582e96;
}

.jumbotron {
  padding: 1rem;
  border-radius: 0;
  margin: auto;

}

.padding {
  padding-bottom: 2rem;
}

.welcome {
  width: 75%;
  margin: 0 auto;
  padding-top: 2rem;
}

.welcome hr {
  border-top: 2px solid #b4b4b4;
  width: 95%;
  margin-top: .3rem;
  margin-bottom: 3rem;
}

/* Three Column Section  */

.fa-code {
  color: #226b05;
}

.fa-bold {
  color: rgb(189, 120, 31);
}

.fa-code, .fa-bold {
  font-size: 4rem;
  margin: 1rem;
}

.mim {
  border: none;
}

.fun {
  width: 100%;
  margin: 0 auto;
  margin-top: 2rem;
}

.gif {
  max-width: 100%;
}

.social a {
  font-size: 4.5rem;
  padding: 3rem;
}

footer {
  background-color: rgb(73, 71, 71);
  color: #ddd9d9;
  padding-top: 3rem;
}

hr.light {
  border-top: 1px solid #d5d5d5;
  width: 75%;
}

/*---Media Queries 
  https://www.youtube.com/watch?v=9cKsq14Kfsw&t=467s
--*/

@media (max-width: 992px) {
  .social a {
    font-size: 4rem;
    padding: 2rem;
  }
}

@media (max-width: 768px) {

}

@media (max-width: 576px) {}

/*---Firefox Bug Fix --*/

.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}

/*--- Fixed Background Image --*/

figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0!important;
}

.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90%;
}

#fixed {
  background-image: url('https://image.freepik.com/free-vector/abstract-technology-particle-background_52683-25766.jpg');
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
}


#fixed2 {
  background-image: url('https://image.freepik.com/free-vector/abstract-technology-particle-background_52683-25766.jpg');
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
}

/*--- Bootstrap Padding Fix --*/

[class*="col-"] {
  padding: 1rem;
}

/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/