<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block additional_head %}
    {% endblock additional_head %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    {% comment %} https://fontawesome.com/how-to-use/on-the-web/using-with/python-and-django {% endcomment %}
    <link href="{% static 'fontawesome_free/css/all.min.css' %}" rel="stylesheet" type="text/css">

    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>eCommerce</title>
    {% endif %}


</head>

<body>

{% include 'navbar.html' %}

<!-- messages -->
<div class="container">
    {% if messages %}
        {% for element in messages %}
            <br>
            <div class="alert alert-{{ element.tags }} alert-dismissible fade show center" role="alert">
                <strong>Message: </strong> {{ element }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
    {% endif %}
</div>

<div class="ajax_message container">
</div>
<!-- end messages -->

<!-- main section  -->
{% block content %}
{% endblock content %}
<!-- end main section -->

{% include "footer.html" %}


{% include "scripts.html" %}
{% block script %}

{% endblock script %}


</body>

</html>