{% extends "base.html" %}
{% load static %}

{% block content %}

    <br>
    <div class="container">
        {% if products %}



            <form>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <input name="q" type="text" class="form-control" placeholder="look for ">
                    </div>
                </div>

                <div class="form-group">
                    <div class="form-check">
                        <input name="featured" class="form-check-input" type="checkbox" id="gridCheck">
                        <label class="form-check-label" for="gridCheck">
                            featured
                        </label>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary">Search</button>

            </form>

            <br>
            {% if request.GET.q %}
                <h3> Search for : {{ request.GET.q }} </h3>
            {% endif %}
            <br>
            <hr>

            <div class="row">
                {% for product in products %}

                    <div class="col-sm">
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="{{ product.image.url }}" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">{{ product.title }}</h5>
                                <p class="card-text">{{ product.description | truncatewords:20 }}</p>
                                <a href="{{ product.get_absolute_url }}" class="btn btn-primary">see more</a>
                            </div>
                        </div>

                        {% comment %}
                        {% if forloop.counter|divisibleby:1 %}
                             make space

                        {% endif %}
                        {% endcomment %}
                    </div>


                {% endfor %}
            </div>
            <hr>
        {% endif %}
    </div>
{% endblock content %}


