{% extends "my_web/base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<!--- Jumbotron -->
<div class="container-fluid">
    <div class=" row jumbotron">

        <!-- from here for change  -->
        <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-10">
            <!-- register form place -->
            
            <h1> Thanks and goodby </h1>
            <!-- if user already have an account -->
            <div class="border-top pt-3">
                <small class="text-muted"> have an great day !  </small>
            </div>
            
        </div>
    </div>  
</div>



{% endblock content %}