{% extends "base.html" %}
{% load crispy_forms_tags %}


{% block content %}
<br>
<div class="container">
    <div class="row">
        <div class="col-sm">
            <!-- left side -->
            <h3>Update Product</h3><br>
            <form method="POST" class="bootstrap4" enctype="multipart/form-data">

                {%csrf_token%}
                {{ form|crispy }}

                <br>
                <div class="btn-group" role="group" aria-label="Basic example">
                    <a href="{% url 'products:product_detail' product.pk %}">
                        <button type="button" class="btn btn-outline-secondary">Back </button>
                    </a>

                    <button class="btn btn-outline-success" type="submit"> Confirm</button>
                </div>
            </form>

        </div>

        <div class="col-sm">
            <!-- right side  -->
        </div>
    </div>

    {% endblock content %}