{% extends "base.html" %}
{% load static %}

{% block content %}

    <br>
    <div class="container">
        {% if products %}
            <h3> All products list : </h3>

            <div class="row">
                {% for product in products %}

                    <div class="col-sm">
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="{{ product.image.url }}" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">
                                    {{ product.title }}
                                    {% if product in cart.products.all %}
                                        <small class="text-muted">
                                            in cart
                                        </small>

                                    {% endif %}
                                </h5>
                                <p class="card-text">{{ product.description | truncatewords:20 }}</p>
                                <a href="{{ product.get_absolute_url }}" class="btn btn-primary">see more</a>


                            </div>
                        </div>
                        {% if forloop.counter|divisibleby:1 %}
                            {% comment %} make space {% endcomment %}


                        {% endif %}
                    </div>


                {% endfor %}
            </div>

        {% endif %}
    </div>
{% endblock content %}