{% extends "my_web/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<!--- Two Column Section -->
<div class="container-fluid padding">
    <div class="row padding">
        <div class="col-lg-6">
            <div class="content-section">
                <form action="" method="POST" class="bootstrap4">
                    {%csrf_token%}
                    <fieldset class="form-group">
                        {{ form | crispy }}
                    </fieldset>
                    <div class="form-group">
                        <button class="btn btn-outline-info" type="submit"> create new post </button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-lg-6 mim">
            <div class="content-section">
                <h3>Post data </h3>
                <p class='text-muted'>You can put any information here you'd like.</p>
                <ul class="list-group">
                    <li class="list-group-item list-group-item-light">Author: "{{ object.author }}"</li>
                    <li class="list-group-item list-group-item-light">field </li>
                    <li class="list-group-item list-group-item-light">field </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock content %}