{% extends "base.html" %} {% load static %} {% block content %}
<br />

<div class="container">
  
    <p>
      <a
        class="btn btn-primary"
        data-toggle="collapse"
        href="#collapseExample"
        role="button"
        aria-expanded="false"
        aria-controls="collapseExample"
      >
        Info
      </a>
    </p>

    <div class="collapse" id="collapseExample">
      <div class="card card-body">
        <p>
          this is the testing eCommerce web site all css and style is from
          <a
            href="https://getbootstrap.com/docs/4.1/getting-started/introduction/"
          >
            bootstrap
          </a>
          , my test <a href="{% url 'users:bootstrap_page' %}"> my_testing </a>
        </p>
        <p>
          also udemy course
          <a
            href="https://www.udemy.com/course/python-ecommerce-build-a-django-ecommerce-web-application/"
          >
            udemy
          </a>
        </p>
        <p>and my own implementation of some parts</p>
      </div>
    </div>
  </div>

  
</div>

{% endblock content %}
