{% extends "base.html" %}
{% load static %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <br>
                <br>
                <div class="jumbotron">
                    <h3>login</h3>
                    <br>
                    <form method="POST">
                        {% csrf_token %}

                        <div class="form-floating">
                            {{ form.username }}
                        </div>
                        <br>
                        <div class="form-floating">
                            {{ form.password }}

                        </div>
                        <br>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
            <div class="col-sm">
            </div>
            <div class="col-sm">
            </div>
        </div>
    </div>



{% endblock content %}