{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container">
        <br>
        <br>
        <div class="row">
            <div class="col-sm">
                <h3> Profile </h3>
                <hr>
                <form method="POST" enctype="multipart/form-data" class="bootstrap4">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        {{ u_form | crispy }}
                        {{ p_form | crispy }}
                        {{ m_form | crispy }}
                    </fieldset>

                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>

            <div class="col-sm">

            </div>
        </div>
    </div>

{% endblock content %}