<!-- Start Footer -->
<footer id="footer" class="footer style-1 dark">

    <a href="index-2.html"><img src="img/assets/footer-logo.png" alt="#" class="mr-auto img-responsive"></a>
    <ul>
        <li><a href="https://www.twitter.com/" target="_blank" class="color"><i class="ion-social-twitter"></i></a>
        </li>
        <li><a href="https://www.facebook.com/" target="_blank" class="color"><i
                    class="ion-social-facebook"></i></a></li>
        <li><a href="https://www.linkedin.com/" target="_blank" class="color"><i
                    class="ion-social-linkedin"></i></a></li>
        <li><a href="https://www.pinterest.com/" target="_blank" class="color"><i
                    class="ion-social-pinterest"></i></a></li>
        <li><a href="https://plus.google.com/" target="_blank" class="color"><i
                    class="ion-social-googleplus"></i></a></li>
    </ul>
    <a href="https://www.templateshub.net" target="_blank">Templates Hub</a>
    <p>Made with love for great people.</p>

    <!-- Back To Top Button -->
    <span><a class="scroll-top"><i class="ion-chevron-up"></i></a></span>

</footer>
<!-- End Footer -->