  
{% load static %}

<link href="{% static 'img/assets/favicon.png' %}" rel="icon" type="image/png">
<link href="{% static 'css/init.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css/ion-icons.min.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css/etline-icons.min.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css/theme.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css/custom.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css/colors/purple.css' %}" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=Montserrat:400,700%7CRaleway:400,100,200,300%7CHind:400,300"
    rel="stylesheet" type="text/css">


