{% extends "base.html" %}
{% load static %}

{% block content %}



    {% load static %}

    <!-- Hero -->
    {# welcome section  =============================  #}
    <section id="hero" class="hero-fullscreen parallax" data-overlay-dark="7">

        <div class="background-image">
            <img src="{% static 'img/backgrounds/bg-1.jpg' %}" alt="#">
        </div>

        <div class="container">
            <div class="row">

                <div class="hero-content-slider mt20" data-autoplay="true" data-speed="4000">

                    <div>
                        <h1>We Are Wunderkind<br><strong>Something You Love</strong></h1>
                        <p class="lead">We are digital agency that loves crafting beautiful websites with great
                            functionality.</p>
                        <a href="#about" class="btn btn-lg btn-primary btn-scroll">We're Creative</a>
                    </div>

                    <div>
                        <h1>We Are Wunderkind<br><strong>We Make Brands Shine</strong></h1>
                        <p class="lead">We do innovation, creativity, effectiveness and all that with love.</p>
                        <a href="#about" class="btn btn-lg btn-primary btn-scroll">What we do</a>
                    </div>

                    <div>
                        <h1>We Are Wunderkind<br><strong>Best Digital Agency</strong></h1>
                        <p class="lead">Wunderkind was honored as best agency at EdAwards in New York.</p>
                        <a href="#about" class="btn btn-lg btn-primary btn-scroll">Made with <i
                                class="ion-heart"></i></a>
                    </div>

                    <div>
                        <h1>We Are Wunderkind<br><strong>Nice to Meet You</strong></h1>
                        <p class="lead">Let's meet up and see if there's chemistry!</p>
                        <a href="#team" class="btn btn-lg btn-primary btn-scroll">Meet the Team</a>
                    </div>

                </div>

            </div>
        </div>
    </section>
    <!-- End Hero -->


    <!-- About Us -->
    {# about me ============================= #}
    <section id="about" class="pt100 pb90">
        <div class="container">
            <div class="row">

                <div class="col-md-12 text-center pb20">
                    <h2>We Are Wunderkind<br><strong>Something You Love</strong></h2>
                    <p class="lead">We create experiences that <span class="color">transform brands</span>, grow
                        businesses<br>and make people’s lives better. Building brands and driving sales with powerful
                        ideas.</p>
                </div>

                <div class="col-sm-6 feature-left">
                    <i class="icon-telescope size-3x color"></i>
                    <i class="icon-telescope back-icon"></i>
                    <div class="feature-left-content">
                        <h4><strong>We're Creative</strong><br>Crafting With Love</h4>
                        <p>Vivamus congue diam vitae tortor imperdiet congue. Nullam sagittis, tristique diam, ut
                            ullamcorper tellus. Cras porttitor massa.</p>
                    </div>
                </div>
                <div class="col-sm-6 feature-left">
                    <i class="icon-circle-compass size-3x color"></i>
                    <i class="icon-circle-compass back-icon"></i>
                    <div class="feature-left-content">
                        <h4><strong>We're Cool Nerds</strong><br>Coding With Fun</h4>
                        <p>Duis vel est nec sapien suscipit gravida. Integer vitae tortor dui. Donec libero quam,
                            euismod sit amet enim ac, varius dictum.</p>
                    </div>
                </div>
                <div class="col-sm-6 feature-left">
                    <i class="icon-genius size-3x color"></i>
                    <i class="icon-genius back-icon"></i>
                    <div class="feature-left-content">
                        <h4><strong>We're Passionate</strong><br>Available When You Need Us</h4>
                        <p>Maecenas sit amet eros luctus dui volutpat sollicitudin id vitae est. Vivamus laoreet
                            adipiscing metus vel fermentum. Sed velit.</p>
                    </div>
                </div>
                <div class="col-sm-6 feature-left">
                    <i class="icon-layers size-3x color"></i>
                    <i class="icon-layers back-icon"></i>
                    <div class="feature-left-content">
                        <h4><strong>We're Professional</strong><br>New York Based</h4>
                        <p>Integer ornare, tellus eget lobortis cursus, metus enim ultricies eros, vitae porttitor elit
                            sapien quis justo. Duis vitae.</p>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- End About Us -->

    <!-- Who We Are -->
    {# skills section ============================= #}
    <section id="skills" class="parallax pt40 pb40" data-overlay-dark="8">
        <div class="background-image">
            <img src="{% static 'img/backgrounds/bg-2.jpg' %}" alt="#">
        </div>

        <div class="container">
            <div class="row vertical-align">

                <div class="col-md-6 pr30 mt40 mb40">
                    <h2><strong>Our Skills</strong><br><span class="color">Crafting With Love</span></h2>
                    <p>Fusce faucibus tincidunt nulla, tincidunt sagittis magna venenatis quis. Proin commodo eu ipsum
                        eu suscipit. In dapibus arcu sit amet imperdiet. Praesent condimentum nulla at mauris ornare.
                        Praesent condimentum nulla at mauris ornare, eget consequat felis euismod. Praesent condimentum
                        nulla at mauris ornare.</p>
                    <p>Praesent condimentum nulla at mauris ornare, eget consequat felis euismod. Praesent condimentum
                        nulla at mauris ornare. Fusce faucibus tincidunt nulla, tincidunt sagittis magna venenatis quis.
                        Proin commodo eu ipsum eu suscipit.</p>
                </div>

                <div class="col-md-6 pt40 pb30">
                    <div class="progress-bars standard transparent-bars" data-animate-on-scroll="on">
                        <h5 class="bold">Branding</h5>
                        <div class="progress" data-percent="85%">
                            <div class="progress-bar">
                                <span class="progress-bar-tooltip">85%</span>
                            </div>
                        </div>
                        <h5 class="bold">User Experience</h5>
                        <div class="progress" data-percent="100%">
                            <div class="progress-bar progress-bar-primary">
                                <span class="progress-bar-tooltip">100%</span>
                            </div>
                        </div>
                        <h5 class="bold">Web Design</h5>
                        <div class="progress" data-percent="70%">
                            <div class="progress-bar progress-bar-primary">
                                <span class="progress-bar-tooltip">70%</span>
                            </div>
                        </div>
                        <h5 class="bold">Fun</h5>
                        <div class="progress" data-percent="82%">
                            <div class="progress-bar progress-bar-primary">
                                <span class="progress-bar-tooltip">82%</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- End Who We Are -->

    <!-- Video Section -->
    {# advertising other people video  #}
    <section id="great_people" class="parallax pt40 pb40" data-overlay-light="9">
        <div class="background-image">
            <img src="{% static 'img/backgrounds/bg-3.jpg' %}" alt="#">
        </div>
        <div class="container">
            <div class="row vertical-align">

                <div class="col-md-6 pr30 mt40 mb40">
                    <h2><strong>We're Creative</strong><br>Crafting With Love</h2>
                    <p>Fusce faucibus tincidunt nulla, tincidunt sagittis magna venenatis quis. Proin commodo eu ipsum
                        eu suscipit. In dapibus arcu sit amet imperdiet. Praesent condimentum nulla at mauris ornare.
                        Praesent condimentum nulla at mauris ornare, eget consequat felis euismod. Praesent condimentum
                        nulla at mauris ornare.</p>
                    <p>Praesent condimentum nulla at mauris ornare, eget consequat felis euismod. Praesent condimentum
                        nulla at mauris ornare. Fusce faucibus tincidunt nulla, tincidunt sagittis magna venenatis quis.
                        Proin commodo eu ipsum eu suscipit.</p>
                </div>

                <div class="col-md-6 mt50 mb50">
                    <div class="video-container">
                        <img src="{% static 'img/video/thumbnail-youtube.jpg' %}"/>
                        <iframe data-video-embed="https://www.youtube.com/embed/B08iLAtS3AQ"></iframe>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- End Video Section -->

    <!-- Portfolio -->
    {# my projects #}
    <section id="works" class="pt100 pb110">
        <div class="container">
            <div class="row text-center">

                <div class="col-md-12 text-center pb20">
                    <h2>Take a Look at<br><strong>Some of Our Work</strong></h2>
                    <p class="lead">Wide range of <span class="color">successful</span> digital and print projects.</p>
                </div>

                <div class="portfolio" data-gap="20">
                    <!-- Values: 10, 15, 20, 25, 30 and 35 -->

                    <!-- Portfolio Category Filters -->
                    <ul class="vossen-portfolio-filters" data-initial-filter="*">
                        <li data-filter="*">Show All</li>
                        <li data-filter="Branding">Branding</li>
                        <li data-filter="Digital">Digital</li>
                        <li data-filter="Print">Print</li>
                    </ul>

                    <!-- Portfolio Items Container-->
                    <div class="vossen-portfolio">

                        <!-- Portfolio Item -->
                        <div class="col-md-4 col-sm-6" data-filter="Branding">
                            <a href="project-slides.html">
                                <div class="portfolio-item">
                                    <div class="item-caption">
                                        <h4>Wunderkind</h4>
                                        <p>Branding</p>
                                    </div>
                                    <div class="item-image">
                                        <img alt="#" src="img/portfolio/1.jpg"/>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- Portfolio Item -->
                        <div class="col-md-4 col-sm-6" data-filter="Digital">
                            <a href="project-slides.html">
                                <div class="portfolio-item">
                                    <div class="item-caption">
                                        <h4>iWatch App</h4>
                                        <p>Digital</p>
                                    </div>
                                    <div class="item-image">
                                        <img alt="#" src="img/portfolio/2.jpg"/>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- Portfolio Item -->
                        <div class="col-md-4 col-sm-12" data-filter="Branding Digital">
                            <a href="project-slides.html">
                                <div class="portfolio-item">
                                    <div class="item-caption">
                                        <h4>Wunder Hero</h4>
                                        <p>Branding</p>
                                    </div>
                                    <div class="item-image">
                                        <img alt="#" src="img/portfolio/3.jpg"/>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- Portfolio Item -->
                        <div class="col-md-8 col-sm-6" data-filter="Branding">
                            <a href="project-slides.html">
                                <div class="portfolio-item">
                                    <div class="item-caption">
                                        <h4>Thom Business Cards</h4>
                                        <p>Branding &amp; Digital</p>
                                    </div>
                                    <div class="item-image">
                                        <img alt="#" src="img/portfolio/4.jpg"/>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- Portfolio Item -->
                        <div class="col-md-4 col-sm-6" data-filter="Print Digital">
                            <a href="project-slides.html">
                                <div class="portfolio-item">
                                    <div class="item-caption">
                                        <h4>Label Mockup</h4>
                                        <p>Print Category</p>
                                    </div>
                                    <div class="item-image">
                                        <img alt="#" src="img/portfolio/5.jpg"/>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- Portfolio Item -->
                        <div class="col-md-4 col-sm-6" data-filter="Print">
                            <a href="project-slides.html">
                                <div class="portfolio-item">
                                    <div class="item-caption">
                                        <h4>Letter Mockup</h4>
                                        <p>Print Category</p>
                                    </div>
                                    <div class="item-image">
                                        <img alt="#" src="img/portfolio/6.jpg"/>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- Portfolio Item -->
                        <div class="col-md-4 col-sm-6" data-filter="Print">
                            <a href="project-slides.html">
                                <div class="portfolio-item">
                                    <div class="item-caption">
                                        <h4>Boxed Cards</h4>
                                        <p>Print Work</p>
                                    </div>
                                    <div class="item-image">
                                        <img alt="#" src="img/portfolio/7.jpg"/>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- Portfolio Item -->
                        <div class="col-md-4 col-sm-6" data-filter="Branding">
                            <a href="project-gallery.html">
                                <div class="portfolio-item">
                                    <div class="item-caption">
                                        <h4>Thanks Letter</h4>
                                        <p>Branding</p>
                                    </div>
                                    <div class="item-image">
                                        <img alt="product" src="img/portfolio/8.jpg"/>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- Portfolio Item -->
                        <div class="col-md-4 col-sm-6" data-filter="Branding Digital">
                            <a href="project-slides.html">
                                <div class="portfolio-item">
                                    <div class="item-caption">
                                        <h4>Flying Mac</h4>
                                        <p>Branding</p>
                                    </div>
                                    <div class="item-image">
                                        <img alt="product" src="img/portfolio/9.jpg"/>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                </div>

                <a href="portfolio-contained.html" class="btn btn-md btn-light btn-appear mt30"><span>View All <i
                        class="ion-arrow-right-c"></i></span></a>

            </div>
        </div>
    </section>
    <!-- End Portfolio -->

    <!-- Get Connected -->
    <section class="parallax pt100 pb100" data-overlay-dark="9">
        <div class="background-image">
            <img src="img/backgrounds/bg-7.jpg" alt="#">
        </div>
        <div class="container">
            <div class="row">

                <div class="col-sm-8 mr-auto text-center">
                    <h2>Get Connected<br><strong>Follow Us</strong></h2>
                    <p class="lead">Get connected with us on social networks!</p>
                </div>

                <div class="col-md-12">
                    <ul class="connected-icons social-icons">

                        <li class="connected-icon">
                            <a target="_blank" href="#">
                                <i class="ion-social-facebook"></i>
                                <h5>Facebook</h5>
                                <p>Be Our Friend</p>
                            </a>
                        </li>

                        <li class="connected-icon">
                            <a target="_blank" href="#">
                                <i class="ion-social-youtube"></i>
                                <h5>Youtube</h5>
                                <p>Watch Our Videos</p>
                            </a>
                        </li>

                        <li class="connected-icon">
                            <a target="_blank" href="#">
                                <i class="ion-social-twitter"></i>
                                <h5>Twitter</h5>
                                <p>Follow Us</p>
                            </a>
                        </li>

                        <li class="connected-icon">
                            <a target="_blank" href="#">
                                <i class="ion-social-instagram"></i>
                                <h5>Instagram</h5>
                                <p>See Our Pictures</p>
                            </a>
                        </li>

                        <li class="connected-icon">
                            <a target="_blank" href="#">
                                <i class="ion-social-googleplus"></i>
                                <h5>Google+</h5>
                                <p>Join Our Circle</p>
                            </a>
                        </li>

                        <li class="connected-icon">
                            <a target="_blank" href="#">
                                <i class="ion-social-skype"></i>
                                <h5>Skype</h5>
                                <p>Get in Touch</p>
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- End Get Connected -->


    {# todo connect contact form and contact info in same frame #}
    <!-- Contact Info -->
    {# how to contact me #}
    <section class="parallax pt110 pb70" data-overlay-dark="8">
        <div class="background-image">
            <img src="img/backgrounds/bg-8.jpg" alt="#">
        </div>
        <div class="container">
            <div class="row">

                <div class="col-md-12 details white text-center">
                    <div class="phone-number mb10">
                        <h1 class="bold">48-1516-2342</h1>
                    </div>
                    <div class="col-lg-12">
                        <h3>hello@<span class="color">domain.com</span></h3>
                        <h4>124 Central West, Manhattan, <span class="color">New York</span></h4>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- End Contact Info -->

    <!-- Contact Form -->
    <section id="contact" class="pt120 pb100">
        <div class="container">
            <div class="row">

                <div class="col-md-12 text-center pb20">
                    <h2>Get In Touch<br><strong>Contact Us</strong></h2>
                    <p class="lead">We would like to <span class="color">hear from you</span></p>
                </div>

                <div class="col-md-8 col-md-offset-2 contact box-style">
                    <div id="message-info"></div>
                    <!-- Forms can be functional only on server. Upload to your server when testing. -->
                    <form method="post">

                        <div class="col-sm-12">
                            <input name="name" id="name" placeholder="Your Name *"/>
                        </div>
                        <div class="col-sm-6">
                            <input name="email" id="email" placeholder="Your Email *"/>
                        </div>
                        <div class="col-sm-6">
                            <input name="phone" id="phone" placeholder="Your Phone"/>
                        </div>
                        <div class="col-sm-12">
                            <textarea name="message" rows="9" id="message" placeholder="Your Message *"></textarea>
                        </div>
                        <div class="col-md-12">
                            <input type="submit" class="submit btn btn-lg btn-primary" id="submit"
                                   value="Send Message"/>
                        </div>

                    </form>
                </div>

            </div>
        </div>
    </section>
    <!-- End Contact Form -->


{% endblock content %}